## Recreating the Computer Lab Assets Database Tables

First we want to recreate the tables in the original database.

In [ ]:
USE [dockertest]
GO

/****** Object:  Table [dbo].[computer_lab]    Script Date: 20/04/2022 14:38:17 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[computer_lab](
	[computer_id] [int] NOT NULL,
	[lab_id] [int] NOT NULL
) ON [PRIMARY]
GO

In [ ]:
USE [dockertest]
GO

/****** Object:  Table [dbo].[computer_user]    Script Date: 20/04/2022 14:40:44 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[computer_user](
	[computer_id] [int] NOT NULL,
	[user_id] [int] NOT NULL
) ON [PRIMARY]
GO

In [ ]:
USE [dockertest]
GO

/****** Object:  Table [dbo].[computers]    Script Date: 20/04/2022 14:42:03 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[computers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[host] [nvarchar](255) NULL,
	[ip] [nvarchar](255) NULL,
	[mac] [nvarchar](255) NULL,
	[subnet] [nvarchar](255) NULL,
	[broadcast] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL
) ON [PRIMARY]
GO

In [ ]:
USE [dockertest]
GO

/****** Object:  Table [dbo].[labs]    Script Date: 20/04/2022 14:43:08 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[labs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[created_at] [date] NULL,
	[updated_at] [date] NULL
) ON [PRIMARY]
GO

In [ ]:
USE [dockertest]
GO

/****** Object:  Table [dbo].[labs]    Script Date: 20/04/2022 14:43:08 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NULL,
	[created_at] [date] NULL,
	[updated_at] [date] NULL
) ON [PRIMARY]
GO

## Querying the Tables

Select all from ComputerS table.

In [4]:
SELECT TOP (1000) [id]
      ,[host]
      ,[ip]
      ,[mac]
      ,[subnet]
      ,[broadcast]
      ,[created_at]
      ,[updated_at]
  FROM [dockertest].[dbo].[computers]

id,host,ip,mac,subnet,broadcast,created_at,updated_at
1,TEST HOST,192.168.0.5,45:43:CD:FB,255.255.255.000,192.168.1.1,2022-04-27 00:00:00.000,2022-04-27 00:00:00.000

Select all from Labs table.

In [5]:
SELECT TOP (1000) [id]
      ,[name]
      ,[created_at]
      ,[updated_at]
  FROM [dockertest].[dbo].[labs]

id,name,created_at,updated_at
1,G515,2022-04-27,2022-04-27
2,G516,2022-04-27,2022-04-27

Select all from User table.

In [ ]:
SELECT TOP (1000) [id]
      ,[username]
      ,[created_at]
      ,[updated_at]
  FROM [dockertest].[dbo].[users]

## Configuring SQL Authentication

Run the following to check whether the server accepts Integrated Security only for authentication.

In [ ]:
SELECT SERVERPROPERTY('IsIntegratedSecurityOnly')

If the value returned is '1', run the following to change that configuration to accept username/password authentication:

In [ ]:
EXEC xp_instance_regwrite N'HKEY_LOCAL_MACHINE', N'Software\Microsoft\MSSQLServer\MSSQLServer', N'LoginMode', REG_DWORD, 2

Restart the SQL Server Express, using Services.msc. The '_IsIntegratedSecurityOnly_' value should be '0'. The next step is to create a default user account and set permissions for it.

In [ ]:
CREATE LOGIN standarduser WITH PASSWORD=N'standardpass', 
                 DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF

EXEC sp_addsrvrolemember 'standarduser', 'sysadmin'
CREATE USER myusername FOR LOGIN standarduser WITH DEFAULT_SCHEMA=[dbo]